.pictureShowcasePanel {
	width: 100%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	background: white;
	display:flex;
	justify-content: center;

}

.pictureShowcaseLoadingText {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 2em;
	color: grey;
	cursor: default;
	transition: 0.5s;
	transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-transition: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: 0.5s;
	-o-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	-moz-transition: 0.5s;
	-moz-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);

	    
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pictureShowcaseViewport {
	transition: 0.5s;
	transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-transition: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: 0.5s;
	-o-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	-moz-transition: 0.5s;
	-moz-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.pictureShowcaseControl {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 2em;
	color: rgba(0,0,0,0.2);
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: 0.5s;
	transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-transition: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: 0.5s;
	-o-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	-moz-transition: 0.5s;
	-moz-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pictureShowcaseControl:hover {
	font-size: 4em;
	color: black;
}

.pictureShowcasePicture {
	width: 50%;
	height: 300px;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation: background .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: background .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-transition: background .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: background .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-moz-transition: background .5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.pictureShowcaseInformation {
	width: 50%;
	height: 40px;
	padding-top: 10px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

.pictureShowcaseInformationText {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 1.3em;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	cursor: default;
	transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-moz-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bottomBar {
	width: 100%;
	height: 50px;
	text-align: left;
	vertical-align: bottom;
	background-color: white;
	box-shadow: 0px -8px 6px 0px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
}

.bottomBarListBox {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 1.2em;
	height: 30px;
	width: auto;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 5px;
	line-height: 30px;
	text-align: left;
	vertical-align: middle;
}

.bottomBarTextNotClickable {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 1.4em;
	height: 45px;
	width: auto;
	padding-top: 5px;
	padding-left: 10px;
	line-height: 45px;
	text-align: left;
	vertical-align: middle;
	
	transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-moz-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bottomBarTextClickable {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 1.5em;
	height: 45px;
	width: auto;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 45px;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	
	transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-moz-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bottomBarTextClickable:hover {
	font-size: 2em;
}

.bottomBarButton {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 1.5em;
	height: 50px;
	width: auto;
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 5px;
	line-height: 45px;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	background-color: white;
	border-style: none;
	outline: none;
	
	transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-moz-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.bottomBarButton:hover {
	padding-left: 9px;
	padding-right: 8px;
	background-color: rgba(0,0,0,0.3);
}

.bottomBarButton:active {
	font-size: 1.2em;
}

.keyframes bottomBarButtonHoverAnim {
	0% {opacity: 1.0}
	50% {opacity: 0.0; background-color: grey;}
	100% {opacity: 1.0}
}

.bottomBarIconClickable {
	height: 30px;
	width: 30px;
	padding-top: 12px;
	padding-left: 10px;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-moz-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	filter: drop-shadow(0px 8px 6px 0px rgba(0, 0, 0, 0.1));
}

.bottomBarIconClickable:hover {
	padding-top: 10px;
	height: 35px;
	width: 35px;
}

.bottomBarSeperator {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 1.5em;
	margin-left: 10px;
	height: 45px;
	padding-top: 5px;
	line-height: 45px;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-moz-transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.aboutPanel {
	width: 100%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 80px;
	background: white;
	display:flex;
	justify-content: center;
}

.aboutPanelTitle {
	padding-left: 50px;
	padding-bottom: 30px;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 3em;
	color: grey;
	font-align: left;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.aboutPanelText {
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 1.2em;
	line-height: 160%;
	color:black;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.aboutPanelSubtext {
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 1em;
	font-style: Italic;
	line-height: 160%;
	color:black;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.aboutPanelImage {
	padding-left: 80px;
	padding-right: 80px;
	width: 60%
}

.aboutPanelGrid {
	margin-left: 80px;
	padding: 0px;
}

.aboutPanelGridTitle {
	margin-left: -2px;
	margin-right: -2px;
	padding-top: 2px;
	padding-left: 3px;
	padding-right: 3px;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 1.1em;
	line-height: 120%;
	color: white;
	background-color: rgba(0,0,0,0.3);
	border-style: none;
	border-spacing: 0px 0px;
}

.aboutPanelGridText {
	margin-left: -2px;
	margin-right: -2px;
	padding-left: 3px;
	padding-right: 3px;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 1em;
	line-height: 120%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: grey;
	border-spacing: 0px 0px;
}
