<div class="flex">
    {% for picture in pictures %}
        <div class="card flex-card">
            <div class="card-image waves-effect waves-block waves-light thumbnail">
                <a href="{{picture.url}}" target="_blank">
                    <img src="{{picture.display_url}}"/>
                </a>
            </div>
            <div class="card-content" style="font-size: 15px">
                <p>{{picture.camera}}</br>{{picture.lens}}</p>
                <p>{{picture.detailed_information}}</p>
                <a href="{{picture.url}}" target="_blank" class="flickr-url"><img src="/static/mysite/images/flickr.png"/></a>
            </div>
        </div>
    {% endfor %}
</div>